<?xml version="1.0"?>
<config>
  <modules>
    <SomethingDigital_BackToTop>
      <version>1.0.1</version>
    </SomethingDigital_BackToTop>
  </modules>
  <global>
    <helpers>
      <sd_backtotop>
        <class>SomethingDigital_BackToTop_Helper</class>
      </sd_backtotop>
    </helpers>
    <models>
        <sd_backtotop>
            <class>SomethingDigital_BackToTop_Model</class>
        </sd_backtotop>
    </models>
  </global>
  <frontend>
    <layout>
      <updates>
        <sd_backtotop>
          <file>somethingdigital/backtotop/somethingdigital_backtotop.xml</file>
        </sd_backtotop>
      </updates>
    </layout>
  </frontend>
  <default>
    <sd_backtotop>
      <options>
        <enabled>1</enabled>
        <persist>persist</persist>
        <scroll>500</scroll>
      </options>
      <design>
        <frontendtext>Back to Top</frontendtext>
      </design>
    </sd_backtotop>
  </default>
</config>